@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hyperlink {
        text-decoration-line: underline;
        font-weight: 600;
        text-decoration-color: #93c5fd;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
